@page "/post/{BlogPostId:int}"

@inject IMyBlogApi api
@inject NavigationManager navMan

@if (BlogPost != null)
{
    <Title Value="@BlogPost.Title"></Title>

    <meta property="og:title"
          content="@BlogPost.Title" />

    <meta property="og:description"
          content="@(new string(BlogPost.Text.Take(100).ToArray()))" />

    <meta property="og:image"
          content="@($"{navMan.BaseUri}/pathtoanimage.png")" />

    <meta property="og:url"
          content="@navMan.Uri" />

    <meta name="twitter:card"
          content="@(new string(BlogPost.Text.Take(100).ToArray()))" />

    <h3>@BlogPost.Title</h3>

    @((MarkupString)BlogPost.Text)
}

@code {
    [Parameter]
    public int BlogPostId { get; set; }

    public BlogPost BlogPost { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        BlogPost = await api.GetBlogPostAsync(BlogPostId);
        await base.OnParametersSetAsync();
    }
}